<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Cinestore</a>
    <a data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li routerLinkActive="active"><a [routerLink]="['/product']">Products</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/shopping-list']">Shopping list</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/contact']">Contact</a></li>
      <li routerLinkActive="active" (click)="logout()"><a>Logout</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li routerLinkActive="active"><a [routerLink]="['/product']">Products</a></li>
  <li routerLinkActive="active"><a [routerLink]="['/shopping-list']">Shopping list</a></li>
  <li routerLinkActive="active"><a [routerLink]="['/contact']">Contact</a></li>
  <li routerLinkActive="active" (click)="logout()"><a>Logout</a></li>
</ul>
