<div class="row">
  <form class="col s12" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">email</i>
        <input id="email" formControlName="email" type="email"/>
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">lock</i>
        <input id="password" formControlName="password" type="password"/>
        <label for="password">Password</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit">Sign in
      <i class="material-icons right">send</i>
    </button>
  </form>
  <a href="#!">register</a>
</div>
